@import "./Defaults.scss";

$border: 3px solid $secondary;
$borderRadius: 50%;
$statusWidth: 10px;
$statusHeight: 10px;

.stasuses {
    position: absolute;
    transform: translate(-10px, 10px);
}

.offline {
    border: $border;
    border-radius: $borderRadius;
    background-color: #747f8d;
    width: $statusWidth;
    height: $statusHeight;
    display: flex;
    align-items: center;
    justify-content: center;

    .inside {
        border-radius: 50%;
        background-color: $secondary;
        width: $statusWidth / 2;
        height: $statusHeight / 2;
    }
}

.online {
    border: $border;
    border-radius: $borderRadius;
    background-color: #3ba55d;
    width: $statusWidth;
    height: $statusHeight;
    display: flex;
    align-items: center;
    justify-content: center;
}

.idle {
    border: $border;
    border-radius: $borderRadius;
    width: $statusWidth;
    height: $statusHeight;
    display: flex;
    align-items: center;
    justify-content: center;
}

.busy {
    border: $border;
    border-radius: $borderRadius;
    width: $statusWidth;
    height: $statusHeight;
    display: flex;
    align-items: center;
    justify-content: center;
}