@import "./Defaults.scss";

.user-area {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #292b2f;
    color: #fff;
    padding: 10px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .profile-detail {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;

        .change-status {
            position: absolute;
            transform: translate(30px, -150px);
            background-color: #18191c;
            padding: 5px 10px;
            border-radius: 5px;
            z-index: 1;

            #others {
                $border: 1px solid #252628;
                border-top: $border;
                border-bottom: $border;
            }

            .status {
                display: flex;
                align-items: center;
                gap: 15px;
                padding: 5px;
                border-radius: 5px;

                .stasuses {
                    position: unset;
                    transform: unset;
                    border: none;
                }

                &:hover {
                    cursor: pointer;
                    background-color: $blueColor;
                }
            }
        }

        .display {
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.1s;

            &:hover {
                .profile-display {
                    filter: brightness(80%);
                }

                cursor: pointer;
                transition: 0.1s;
            }
        }

        .user-detail {
            $usernameFontSize: 10pt;

            line-height: 10px;
            p {
                font-size: $usernameFontSize;
                margin: 0;
            }

            span {
                font-size: (4/5) * $usernameFontSize;
                color: $fontColor;
            }
        }
    }

    .options {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 5px;

        .icons {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px;
            transition: 0.1s;
            color: #b9bbbe;

            span {
                position: absolute;
                background-color: #000;
                padding: 5px 10px;
                transform: translate(2px, -40px);
                border-radius: 5px;
                font-size: 10pt;
                text-align: center;

                &#user-setting {
                    width: 90px;

                    .triangle {
                        transform: translateX(150%);
                    }
                }

                .triangle {
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 10px 10px 0 10px;
                    border-color: #000000 transparent transparent transparent;
                    position: absolute;
                    transform: translateX(50%);
                }
            }

            .line {
                background-color: #d33f42;
                width: 2px;
                height: 20px;
                border-radius: 50%;
                transform: rotate(45deg);
                position: absolute;
                transition: 0.2s;
            }

            &:hover {
                background-color: $primary;
                border-radius: 5px;
                cursor: pointer;
                transition: 0.1s;
            }
        }
    }
}